/* Use this code to change font style... */
/* font-family: 'Fredericka the Great', cursive; */

/* --- STYLES FOR ALL PAGES --- */
body {
    /* Typography */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
  }

  /* fix top and margin issues only on the content containers */
  .wrapper {
    margin-top: 120px;
    margin-bottom: 25px;
  }

  main, .container-block {
    margin: 25px, 100px, 50px, 100px;
  }

  /* Author's name */
  footer.cite {
    text-align: right;
  }
  
  /* create styles for use for all white main boxes */
  .block {
    background-color: #fff;
  
    padding: 30px;
    margin-bottom: 30px;
    width:100%;
  }
  
  .block-header {
    /* Typography */
    color: #4aaaa5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 24px;
  }
  
  /* NAV START */
  #logo {
    font-family: 'Fredericka the Great', cursive;
  
    /* Typography */
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  
    /* Visual */
    background: #4aaaa5;
    padding: 20px;
  }
  
  /* override bootstrap hover color and border */
  .navbar-default .navbar-nav > li > a:hover {
    color: #4aaaa5;
  }
  
  .navbar {
    background-color: white;
    border: none;
    padding: 0px; 
  }

  .button-style {
    margin-right: 40px;
  }
  
  /* media query for nav background color change */
  @media only screen and (max-width: 767px) {
    div.nav {
      /* background-color: #4aaaa5; */
    }

    button.navbar-toggler {
      padding: 1px;
    }
  }

  /* END NAV */
  
  /* Styles for About Me, Portfolio and Contact buttons */
  li {
    margin-left: 8px;
  }

  .active {
    background-color: #e3e6e6;
    color: white; 
  }


  /* CONNECT W/ ME CSS */
  .connect-header {
    /* Typography */
    font-size: 25px;
  }
  
  .connect-photo {
    /* Box-model */
    width: 55px;
    height: 55px;
  }
  
  #images {
    /* Box-model */
    padding-top: 15px;
  
    /* Typography */
    text-align: center;
  }
  /* END CONNECT W/ ME */
  
  .margin {
    margin-bottom: 150px;
  }

  /* Media queries for smaller screen sizes; fixes margins between the two boxes on the about me page */
  @media only screen and (max-width: 768px) {
    article.main {
      margin-bottom: 25px;
    }

    article.pictures {
      margin-top: 25px;
    }
  } 
  
  /* BEGIN FOOTER */
  .footer {
    /* Positioning */
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
  
    /* Box-model */
    width: 100%;
    height: 80px;
  
    /* Visual */
    background-color: #666;
  }
  
  .text-muted-footer {
    /* Box-model */
    margin-top: 15px;
  
    /* Typography */
    color: #fff;
  }
  
  .two-toned-footer-color {
    /* Box-model */
    height: 6px;
    padding-top: 3px;
  
    /* Visual */
    background-color: #4aaaa5;
  }

  .contact-footer-text {
    font-size: 10px;
  }

  /* END FOOTER */
  /* --- END STYLES FOR ALL PAGES --- */
  
  /* --- PAGE-SPECIFIC STYLES --- */
  /* ABOUT-ME PAGE */
  .about-me-header {
    /* Positioning */
    margin-bottom: 33px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
    /* Typography */
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
  }
  
  #about-image {
    /* Positioning */
    float: left;
  
    /* Box-model */
    width: 200px;
    margin: 0 30px 15px 0;
  }

  p, .text-brown {
      color: #666;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .picture {
    margin: 10px;
    height: 150px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Media queries for smaller screen sizes */
  @media only screen and (max-width: 992px) {
    .picture {
      height: 100px;
    }
  }

  @media only screen and (max-width: 768px) {
    .picture {
      height: 150px;
    }
  }

  @media only screen and (max-width: 440px) {
    /* #about-image {
      margin-right: 100px;
      width: 250px;
    } */
  }
  /* END ABOUT-ME PAGE */
  
  
  /* PORTFOLIO PAGE */
  .port-image {
    /* margin-top: 25%; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: auto;
  }

  .project-container {
    /* padding: 5px; */
  }

  .center {
    text-align: center;
    display: inline-block;
  }

  .project-wrapper {
    background-color: #c8e5e4;
    color: white;
    margin: 25px;
    padding: 0px;
    transition: all .5s ease-in-out;
  }

  .project-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px grey;
    color: #757575;

  }

  .title {
    background-color: #80c3c0;
    font-family: 'Fredericka the Great', cursive;
    font-size: 40pt;
    padding: 5px;
    color: white;
    border-radius: 5px 5px 0px 0px;
  }
  .round {
    border-radius: 0px 0px 5px 5px;
  }

  h6 {
    margin-top: 8px;
  }

  .image {
    width: 250px;
    height: 200px;
    float: left;
    transition: all .5s ease-in-out;
  }

  .image:hover {
    transform: scale(1.50);
    /* box-shadow: 0px 0px 20px grey; */
  }

  .info {
    padding: 25px;
    padding-right: 10px;
  }

  a.btn {
    background-color: #4aaaa5;
    color: white;
  }
  
  @media only screen and (max-width: 767px) {
    .image {
      float: none;
      margin-top: auto;
    }

    .info {
      margin-top: 30px;
    }
  }

 
  /* END PORTFOLIO PAGE */
  
  
  /* CONTACT FORM PAGE  */
  .form-control {
    /* give input boxes right angles */
    border-radius: 0;
  
    /* keep from horizontally resizing text area */
    min-width: 100%;
    max-width: 100%;
  }
  
  .submit-btn {
    /* Box-model */
    padding: 15px 30px;
    font-size: 16px;
    font-weight: lighter;
  
    /* Typography */
    color: #fff;
  
    /* Visual */
    background-color: #4aaaa5;
    border: 0;
  }
  
  .submit-btn:hover {
    opacity: .7;
  }

  /* Makes the selected components teal */
  .text-teal {
      color: #4aaaa5;
  }
/* Makes the selected components white */
  .white-text {
      color: white;
      font-weight: bold;
  }

  .icon-size {
      margin: 10px 10px 5px 10px;
  }
  
  /* END CONTACT FORM PAGE */

  /* RESUME PAGE  */

  a.link {
    color: #4aaaa5;
    text-decoration: underline;
  }

  .main {
    font-size: 20px;
    color: #4aaaa5;
  }

  .resume-title {
    font-weight: bold;
  }

  .year {
    font-style: italic;
    color: #898989;
    font-size: 14px;
  }




  /* END RESUME PAGE */